DASHSCOPE_API_KEY=
DASHSCOPE_WORKSPACE_ID=
DASHSCOPE_REGION=cn-beijing
REALTIME_PROXY_PATH=/realtime
NEXT_PUBLIC_REALTIME_PROXY_URL=wss://YOUR_HTTPS_DOMAIN/realtime
ALLOWED_ORIGINS=https://YOUR_HTTPS_DOMAIN
DEBUG_REALTIME=false
ENABLE_TRANSLATION_GLOSSARY=false
APP_ACCESS_TOKEN=
MAX_SESSION_DURATION_SECONDS=
MAX_AUDIO_BYTES_PER_SESSION=
MAX_MESSAGE_SIZE_BYTES=
MAX_CONCURRENT_SESSIONS_PER_CLIENT=
RATE_LIMIT_WINDOW_SECONDS=
MAX_CONNECTION_ATTEMPTS_PER_WINDOW=
